body {
  margin: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b5e9da;
}

h1 {
  color: #d75666;
  font-weight: 800;
}

.addheader {
  border-top: 0.2rem solid #d39ca2;
  padding: 10px;
}

.loginheader {
  border-top: 0.2rem solid #d39ca2;
  padding: 10px;
}

.showlist {
  border-top: 0.2rem solid #d39ca2;
  padding: -15px;
  line-height: 0.5;
}

.bloglist {
  line-height: 18px;
  border-bottom: 0.1rem solid grey;
  padding-bottom: 15px;
  cursor: pointer;
}

.bloglist:hover {
  border-bottom: 0.1rem solid grey;
  padding-bottom: 15px;
  cursor: pointer;
  font-size: 105%;
}

.addedby {
  font-size: 70%;
  font-weight: 300;
}

.overlay {
  position: absolute;
  position: fixed;
  left: 50%;
}

.notification {
  position: relative;
  left: -50%;
  color: forestgreen;
  background: lightgrey;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin: 25px auto;
  transition: all 5s ease-in-out;
}

.error {
  position: relative;
  left: -50%;
  color: red;
  background: lightgrey;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin: 25px auto;
  transition: all 5s ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
